@include responsive-wireframe;

// container

.container > * {
  width: 100vw;
}

// banner
.banner {
  height: 15vh;
  position: relative;
}

.banner h1 {
  @include center;
}

// main-body

.card {
  height: 100vw;
}

// media queries
@include grid-media($above-mobile) {

  .container {
    height: 85vh;

  }
  .card {
    @include grid-column(4);
    height: 50%;
  }

}

@include grid-media($above-tablet) {
  .banner {
    @include grid-column(2);
    height: 100vh;
  }

  .container {
    height: 100vh;
  }

  .card {
    @include grid-column(3.333);
  }

}
