@include responsive-wireframe;

// container

.container > * {
  width: 100vw;
}

// banner
.banner {
  height: 90px;
  position: relative;
}

.banner h1 {
  @include center;
}

// main-body
.long-card {
  height: 128vw;
}

.square-card {
  height: 100vw;
}
